<a href="https://colab.research.google.com/github/rujapa/digitaladvertisingAPRD/blob/master/Python_Exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**HOMEWORK 1 - Basic Ad Analyses**
This is advertising campaign engagement data from Facebook. Each row is an ad that ran on the platform. It includes the amount spent on the campaign, and other outcome/engagement data. For your first homework, let's do some analyses that tease out some insights on how to advertise more effectively.

In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import statsmodels.api as sm
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [0]:
pip install -U arrow

Requirement already up-to-date: arrow in c:\users\nay\anaconda3\lib\site-packages (0.15.4)
Requirement already satisfied, skipping upgrade: python-dateutil in c:\users\nay\anaconda3\lib\site-packages (from arrow) (2.8.0)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\users\nay\anaconda3\lib\site-packages (from python-dateutil->arrow) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [0]:
#import csv file 
from google.colab import drive
drive.mount('/content/drive')
#make csv file into a data frame 
df=pd.read_csv(open('drive/My Drive/APRD Digital ads/Homework/Travel Pony Facebook.csv','rb'))

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
df

      Start Date  ... Cost per Page Engagement (USD)
0     2013-12-02  ...                       1.219512
1     2013-12-01  ...                       1.395349
2     2013-11-30  ...                       1.190476
3     2013-11-29  ...                       1.167315
4     2013-11-22  ...                       2.512857
...          ...  ...                            ...
3700  2013-06-11  ...                       1.050000
3701  2013-06-10  ...                       0.533333
3702  2013-06-09  ...                       0.990000
3703  2013-06-08  ...                       0.316667
3704  2013-06-07  ...                       0.000000

[3705 rows x 20 columns]

In [0]:
df.index=pd.to_datetime(df.index)

In [0]:
df.head()

   Start Date  ... Cost per Page Engagement (USD)
0  2013-12-02  ...                       1.219512
1  2013-12-01  ...                       1.395349
2  2013-11-30  ...                       1.190476
3  2013-11-29  ...                       1.167315
4  2013-11-22  ...                       2.512857

[5 rows x 20 columns]

In [0]:
#find cost per impression 
df['Cost Per Impression']=df['Amount Spent (USD)']/df['Impressions']

In [0]:
df['Start Date'] = pd.to_datetime(df['Start Date'])
df['day_of_week'] = df['Start Date'].dt.day_name()
df.head()

,Start Date,End Date,Account,Campaign Name,Reach,Frequency,Impressions,Clicks,Unique Clicks,Amount Spent (USD),...,Post Engagement,Post Likes,Post Comments,Post Shares,Photo Views,Website Clicks,Cost per Page Like (USD),Cost per Page Engagement (USD),Cost Per Impression,day_of_week
1970-01-01 00:00:00.000000000,2013-12-02,2013-12-02,Bob Jackson,Cyber Weekend,278117,2.314303,643647,336,313,300.00,...,243,0,0,0,0,243,100.00,1.219512,0.000466,Monday
1970-01-01 00:00:00.000000001,2013-12-01,2013-12-01,Bob Jackson,Cyber Weekend,221255,2.079090,460009,376,348,300.00,...,209,0,0,0,0,209,50.00,1.395349,0.000652,Sunday
1970-01-01 00:00:00.000000002,2013-11-30,2013-11-30,Bob Jackson,Cyber Weekend,267915,2.499069,669538,383,345,300.00,...,250,0,0,0,0,250,150.00,1.190476,0.000448,Saturday
1970-01-01 00:00:00.000000003,2013-11-29,2013-11-29,Bob Jackson,Cyber Weekend,280332,2.365406,663099,301,275,300.00,...,254,0,0,0,0,254,100.00,1.167315,0.000452,Friday
1970-01-01 00:00:00.000000004,2013-11-22,2013-11-22,Bob Jackson,TravelPony: General Ads,14269,1.000420,14275,64,61,35.18,...,12,0,0,0,0,12,17.59,2.512857,0.002464,Friday

# Question 1 When considering 'cost per impression', what day of the week works best? (What day is it cheapest to generate impressions) What day works worst?

In [0]:
#Aggregate data to count the total for each weekday 
df.groupby('day_of_week').agg({'Cost Per Impression':['count','sum','mean','std']})

            Cost Per Impression
                          count       sum      mean       std
day_of_week
Friday                      502  2.056639  0.004097  0.014341
Monday                      589  1.713976  0.002910  0.004411
Saturday                    499  1.311720  0.002629  0.004405
Sunday                      476  1.755447  0.003688  0.016115
Thursday                    574  1.950631  0.003398  0.005879
Tuesday                     474  1.440979  0.003040  0.004369
Wednesday                   591  1.761665  0.002981  0.004655

In [0]:
print(df.describe())

               Reach    Frequency    Impressions       Clicks  Unique Clicks  \
count    3705.000000  3705.000000    3705.000000  3705.000000    3705.000000
mean     1885.656950     1.013260    2307.207557     8.898246       7.725506
std      9585.541209     0.123856   20631.407799    29.581260      25.966958
min         1.000000     1.000000       1.000000     0.000000       0.000000
25%        17.000000     1.000000      17.000000     0.000000       0.000000
50%       115.000000     1.000000     115.000000     0.000000       0.000000
75%      1074.000000     1.007634    1086.000000     5.000000       4.000000
max    280332.000000     4.597411  669538.000000   635.000000     552.000000

       Amount Spent (USD)   Page Likes  Page Engagement  Post Engagement  \
count         3705.000000  3705.000000      3705.000000      3705.000000
mean             8.739628     0.873954         8.947099         8.072874
std             25.814384     2.622801        23.758582        22.141080
min              0.000000     0.000000         0.000000         0.000000
25%              0.000000     0.000000         0.000000         0.000000
50%              0.000000     0.000000         0.000000         0.000000
75%              4.310000     0.000000         5.000000         4.000000
max            300.000000    35.000000       293.000000       282.000000

        Post Likes  Post Comments  Post Shares  Photo Views  Website Clicks  \
count  3705.000000    3705.000000  3705.000000  3705.000000     3705.000000
mean      1.213495       0.057490     0.213495     3.649123        2.939271
std       4.156825       0.309477     0.888510    12.050132       11.788170
min       0.000000       0.000000     0.000000     0.000000        0.000000
25%       0.000000       0.000000     0.000000     0.000000        0.000000
50%       0.000000       0.000000     0.000000     0.000000        0.000000
75%       1.000000       0.000000     0.000000     1.000000        1.000000
max      96.000000       5.000000    18.000000   197.000000      254.000000

       Cost per Page Like (USD)  Cost per Page Engagement (USD)  \
count               3705.000000                     3705.000000
mean                   2.368518                        0.510698
std                    7.102037                        1.162855
min                    0.000000                        0.000000
25%                    0.000000                        0.000000
50%                    0.000000                        0.000000
75%                    0.000000                        0.645556
max                  150.000000                       30.380000

       Cost Per Impression
count          3705.000000
mean              0.003236
std               0.008847
min               0.000000
25%               0.000000
50%               0.000000
75%               0.004706
max               0.310000

# Question 2  where Unique Clicks is the dependent variable and Reach and Frequency are the independent (predictor) variables.

In [0]:
print( df[['Amount Spent (USD)','Reach','Frequency','Unique Clicks','Page Likes']].corr())

                    Amount Spent (USD)     Reach  Frequency  Unique Clicks  \
Amount Spent (USD)            1.000000  0.703124   0.130201       0.882993
Reach                         0.703124  1.000000   0.334101       0.722249
Frequency                     0.130201  0.334101   1.000000       0.135103
Unique Clicks                 0.882993  0.722249   0.135103       1.000000
Page Likes                    0.757612  0.304388   0.000182       0.584614

                    Page Likes
Amount Spent (USD)    0.757612
Reach                 0.304388
Frequency             0.000182
Unique Clicks         0.584614
Page Likes            1.000000

# Question 3 What variable most strongly predicts unique clicks? What does that mean practically? (respond in a tweet or less)

In [0]:
import statsmodels.api as sm

In [0]:
#create model to find which variable most strongly predicts unique clicks 
X = df[['Reach','Frequency']]
y = df["Unique Clicks"]
model = sm.OLS(y, X).fit()
predictions = model.predict(X)
# Print out the statistics
print(model.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:          Unique Clicks   R-squared (uncentered):                   0.557
Model:                            OLS   Adj. R-squared (uncentered):              0.556
Method:                 Least Squares   F-statistic:                              2325.
Date:                Thu, 14 Nov 2019   Prob (F-statistic):                        0.00
Time:                        00:08:44   Log-Likelihood:                         -15973.
No. Observations:                3705   AIC:                                  3.195e+04
Df Residuals:                    3703   BIC:                                  3.196e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Reach          0.0019   3.12e-05     62.490      0.000       0.002       0.002
Frequency      3.6139      0.298     12.109      0.000       3.029       4.199
==============================================================================
Omnibus:                     5107.616   Durbin-Watson:                   0.803
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          5128392.747
Skew:                           7.331   Prob(JB):                         0.00
Kurtosis:                     184.674   Cond. No.                     9.84e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.84e+03. This might indicate that there are
strong multicollinearity or other numerical problems.